.popup__submit_disabled {
  background: transparent;
  outline: 1px solid var(--black-transparent-input);
  color: var(--black-transparent-input);
}

.popup__submit_disabled:hover {
  background: transparent;
  outline: 1px solid var(--black-transparent-input);
  color: var(--black-transparent-input);
}
