.profile__username {
  margin: 0 18px 0 0;
  max-width: 300px;
  color: var(--white);
  font: 500 42px/48px "Inter", arial, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .profile__username {
    margin: 0 10px 0 0;
    max-width: 220px;
    font: 500 27px/33px "Inter", arial, sans-serif;
    text-align: center;
  }
}
