.profile__description {
  margin: 0;
  max-width: 300px;
  color: var(--white);
  font: 400 18px/22px "Inter", arial, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .profile__description {
    margin: 0 auto 30px auto;
    font: 400 14px/17px "Inter", arial, sans-serif;
    text-align: center;
  }
}
