.popup__input {
  padding: 12px 0 12px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--black-transparent-input);
  font: 400 14px/17px "Inter", arial, sans-serif;
}

.popup__input:focus {
  outline: none;
}

.popup__input:nth-child(2) {
  margin: 0;
}
